.company-members {
	img {
		border-radius: 50%;
	}
	.small-8 {
		padding: 0;
		text-align: justify;
	}

	& > div {
		padding: 20px 0;
		border-top: 1px dotted black;
	}

	h3 {
		color: $washed-blue;
		text-align: left;
		span {
			font-size: rem-calc(45);
			padding-right: rem-calc(10);
			text-shadow: #fff 1px 2px 0;
		}
	}

}
