.company-members {
	font-size: rem-calc(14);

	img {
		border-radius: 50%;
	}
	.small-8 {
		padding: 0;
		text-align: justify;
	}

	& > div {
		padding: 10px 10px 10px 0;
		@media #{$medium} {
			padding: 20px 0;
		}
		border-top: 1px dotted $gainsboro;
	}

	h3 {
		color: $washed-blue;
		text-align: left;
		font-size: rem-calc(16);
		@media #{$medium} {
			font-size: rem-calc(20);
		}
		span {
			font-size: rem-calc(45);
			padding-right: rem-calc(10);
			text-shadow: #fff 1px 2px 0;
		}
	}

}
