/*
 Commonly used custom classes
 */

body {
	background: $body-bg;
}

h1, h2, h3, h4, h5 {
	font-family: $font-family-roboto-light
}

.pushdown {
	margin-top: 3em !important;
}

.full-width {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

header {
	position: absolute;
	z-index: 1;

	ul {
		color: $white;
	}
}

section {
	position: relative;
}

.services {
	img {
		width: 100px;
	}
}

.customers {

}

video#bgvid {
	position: relative;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
}

.video {
	position: relative;
	background: url(../img/city-large.jpg) no-repeat center center;
	min-height: 380px;

	@media #{$medium-up} {
		background: none;
	}

}


.line-button {
	background: transparent;
	border: 1px solid $white;
	&:hover {
		background: $green;
	}
}

.video-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;

		h1 {
			position: relative;
			margin-top: 20%;
			color: $white;
			font-size: $h1-font-size;
		}
}
