header {
	position: absolute;
	z-index: 10;
	width: 100%;
	@extend .clearfix;

	ul {
		margin-top: 20px !important;
		font-family: $font-family-roboto-light;
		font-size: 20px;

		a {
			color: $white;
			 @include transition(color, 0.5s);
			&:hover {
				color: $green;
			}
		}
	}
}

.logo img {
	width: 60px;
}

.header-links {
	background: #000 !important;
	img {
		height: 50px;
	}
}

.logo-small img {
	margin: 8px 10px 0;
}



