header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 4;
}

.top-bar {
	background: rgba(26, 188, 156, 0.9);
}

.logo {
	width: 30px;
	margin: -4px 5px 0 0;
}

.header-links {
	background: #000 !important;
	img {
		height: 50px;
	}
}

.logo-small img {
	margin: 8px 10px 0;
}



