.services,
.customers {
	background: $white-cream;
}

.services {
	img {
		width: 120px;
	}
	p {
		color: $light-paragraph;
	}
}

.video-container {
	h1 {
		color: $white;
	}
	& > div {
		width: 100%;
		top: 0;

		&:first-child {
			position: relative;
			@media #{$small-up} {
				//background: url(../images/city-large.jpg) no-repeat center center;
			}
			@media #{$medium-up} {
				background: none;
			}
		}

		&:nth-child(2) {
			position: absolute;
			height: 100%;
			padding-top: 20%;
			background: rgba(0,0,0,0.5);
		}

	}

}

video#bgvid {
	position: relative;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
}
