

/*
Circles
 */
.circle-container {
	> div {
		padding: 0;
	}
	img {
		background: $white-cream;
		border-radius: 50%;
		padding: 20px;
	}
	h2 {
		position: relative;
		margin-top: 4px;
		font-size: 12px;
		text-transform: uppercase;
		@media #{$medium} {
			font-size: 22px;
		}
		@media #{$large} {
			font-size: 24px;
		}
	}
}

.circle {
	width: 98%;
	padding-bottom: 98%;
	margin: 1%;
	background: $white;
	cursor: pointer;
	@media #{$medium} {
		&:hover {
			@include radius(50%);
		}
	}

}

.content {
	position:absolute;
	height: 100%;
	width: 100%;
	padding: 25%;
}
.table{
	display:table;
	width:100%;
	height:100%;
}
.table-cell{
	position: relative;
	top: -18px;
	display:table-cell;
	vertical-align:middle;
	@media #{$medium} {
		top: -25px;
	}
}
